<%- include('../components/header') %>
<div class="flex-1 overflow-auto bg-main-light dark:bg-main-dark">
  <main class="relative mt-[75px] px-2 sm:px-4"><%- body %></main>
</div>
<%- include('../components/footer') %>
