@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

.ce-toolbar__content {
  max-width: 88%;
}

.ce-block__content {
  max-width: 86%;
}

@media (max-width: 640px) {
  .sidebar {
    margin-left: -240px;
  }
}
