@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

.ce-toolbar__content {
  max-width: 88%;
}

.ce-block__content {
  max-width: 86%;
}

.cdx-block {
  max-width: 1612px;
}

@media (max-width: 774px) {
  .sidebar {
    margin-left: -240px;
  }

  .nav {
    @apply w-[calc(100%-15px)];
  }
}
