<form class="content-header" x-data autocomplete="off">
  <div class="d-flex flex-column align-items-center justify-content">
    <input
      x-model="$store.content.title"
      id="contentTitle"
      type="text"
      name="contentTitle"
      placeholder="Content Title"
      class="content-input"
    />
  </div>
  <div id="editorjs"></div>
  <button class="content-save-btn" data-widget="control-sidebar" data-slide="true">
    <i class="fas fa-save"></i>
  </button>
  <aside class="control-sidebar control-sidebar-light content-side-drawer">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Save Content</h5>

      <div>
        <label for="content-thumbnail" class="d-block">Choose Thumbnail</label>
        <input
          class="content-thumbnail-input"
          id="content-thumbnail"
          type="file"
          accept="image/*"
          @change="$store.content.selectThumbnail"
        />
        <label for="content-thumbnail" class="d-block">
          <template x-if="!$store.content.thumbnail">
            <div class="content-thumbnail content-thumbnail-add"><i class="fa fa-plus" aria-hidden="true"></i></div>
          </template>
          <template x-if="$store.content.thumbnail">
            <img class="content-thumbnail" :src="$store.content.thumbnail" />
          </template>
        </label>
      </div>

      <div class="form-group">
        <label for="category" class="d-block">Status</label>
        <select x-model="$store.content.selectedCategory" id="category" class="form-control">
          <template x-for="category in $store.content.categories">
            <option
              :value="category.id"
              :selected="category.id === $store.content.selectedCategory"
              x-text="category.name?.toUpperCase()"
            ></option>
          </template>
        </select>
      </div>

      <div class="form-group">
        <label for="content-status" class="d-block">Status</label>
        <select x-model="$store.content.selectedStatus" id="content-status" class="form-control">
          <template x-for="status in $store.content.contentStatus">
            <option
              :value="status.value"
              :selected="status.value === $store.content.selectedStatus"
              x-text="status.value"
            ></option>
          </template>
        </select>
      </div>

      <!-- <div>
        <label for="content-category">Choose Category</label>
      </div>
      <div></div> -->

      <div class="content-drawer-btns">
        <button
          type="button"
          data-widget="control-sidebar"
          data-slide="true"
          class="btn btn-block btn-sm btn-outline-danger"
        >
          Close
        </button>
        <button
          type="button"
          @click.prevent="$store.content.saveContent(null)"
          class="btn btn-block btn-sm btn-outline-primary"
        >
          Save
        </button>
      </div>
    </div>
  </aside>
</form>
